.input-section {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;


  .input-box-wrap {
    display: flex;
    flex-direction: column;
    width:45%;


    .input-form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .text {
        //border-bottom:1px solid darkgray;
        //padding: 0px 50px;
      }
      .title {
        margin-right: 15px;
        font-weight: 600;
      }
      .wrap {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      .input-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        .classification-wrap {

          .classification-title {

          }
          .classification-btn {
              border: 1px solid lightseagreen;
            color: lightseagreen;
              padding: 5px 20px;
              margin-right: 10px;
              border-radius: 4px;
            cursor: pointer;

          }
        }
        .delete-input-info-btn {
          color:lightseagreen;
          font-size: 15px;
          cursor: pointer;
        }
      }
      .input-middle {
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        margin-bottom: 10px;
        .select {
          border-bottom: 1px solid gray;
          font-size: 15px;
          color: gray;
        }
        .input-date-wrap {
          flex-grow: 1;

          .input-date-title {

          }
          .input-date-text {
            border-bottom:1px solid darkgray;
            padding: 0% 10%;

          }
        }
        .input-category-wrap {
          flex-grow: 1;

          .input-category-title {

          }
          .input-category-select {
            padding: 0% 10%;

          }

        }
        .input-payment-select-wrap {
          flex-grow: 1;

          .input-payment-select-title {

          }
          .input-payment-select {
            padding: 0% 10%;

          }
        }
      }
      .input-bottom {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        //justify-content: space-between;
        .input-money-wrap {
          flex-grow: 1;
          .input-money-title {

          }
          .input-money-text {
            border-bottom:1px solid darkgray;
            padding: 0% 10%;
          }
        }
        .input-content-wrap {
          flex-grow: 1;

          .input-content-title {

          }
          .input-content-text {
            border-bottom:1px solid darkgray;
            padding: 0% 10%;
          }
        }
      }
    }
    .input-submit-btn {
      text-align: center;
      background-color: lightseagreen;
      padding: 10px;
      color: white;
      font-weight: 600;
      border-radius: 0px 0px 5px 5px;
      cursor: pointer;
    }
  }
}