@import '../utils/reset.scss';
// @import '../component/header/header.scss';
// @import '../component/body/tap/tab.scss';
// @import '../component/body/body.scss';
// @import '../component/body/input/input.scss';


#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}