@import '../utils/reset.scss';
@import '../component/header/header.scss';


#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.piechart {
  text-align: center;
  width: 100%;
  margin-top: 100px;

  svg {
    display: inline-block;
    width: 400px;
  }
}

.bargraph {
  width:940px;
  margin: 100px auto;
}
